body {
    font-family: sans-serif;   
    beckground-image: linear-gradient(pink, pink, pink);
}
 
h1{
    color :rgb(4, 0, 255);
    font-size: 50px;
    text-align:center;
}

p{
    color:(black;);
    font-size: 30px;
    text-align:justify;
}


.logo {
    width: 800px;
    height: 500px;
    margin: 2px; /*insere um espaçamento externo ao elemento, ao redor da berda*/
    padding: 2px; /*define uma distância interna entreum elemento e sua borda*/
    border: 0.2rem solid black;
    border-radius: 20px;
}

.foto {
    width: 500px;
    height: 300px;
    margin: 10px;
    padding: 3px;
    border: 0.5rem solid black;
    border-radius: 24px;
}